html, nav, body, .carousel-example-generic{
    background-color:#F8F8FF;
}

footer{
    background-color: #660000;
    color:#F8F8FF;
}

main{
    color:#660000;
    background-color: #F8F8FF;
}

#slideshow-Homepage{
    width:100%;
    font-size: 2em;
    margin-top: 50px;
    background-color: #F8F8FF;
}

.row{
    margin-top: 40px;
}

.card{
    border:3px solid #660000;
    text-align: center;
    border-radius:60px; 
    padding:15px;
}