.body-contatos{
	background-color: #f8f8ff;
	width: 100%;
	position: relative;

}
#titulo-h2-contato{
	color: #660000;
	text-align: center;
	font-family: 'Playfair Display';
	background-color: #F8F8FF;
}
#subtitulo-contato{
	color:#660000;
	text-align:center;
	font-family:'Playfair Display';
	background-color:#F8F8FF;
}


.footer-contatos{
	position: relative;
	bottom: 0px;
	margin-top: 10px;
	top: 335px;

}
.formulario{
	position: relative;
	width: 100%;
}
#msg
{
	font-size:20px;
	text-align:center;
}
#bot-enviar:hover{
	background-color: #660000;
	color: #fff;
	transition: 1s;
}
#frase{
	left: 10px;
}
.form-cont{
	position: relative;
	top: 10px;
}