/* CSS FOOTER - INICIO */
#html-footer {
  height: 100%;
  width: 100%
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

#footer {
	border-top: 1px solid #000;
}
#body-footer {
	height: 100%;
  	width: 100%;
	position: relative;
	margin: 0px;
	min-height: 100%;
	background-color: #F8F8FF;
}
#footer .col-md-4 {
	padding-right: 0;
	padding-left: 0;
}
#footer .card { /* cada card eh uma das 3 secoes do footer */
	background-color: #660000;
	border: none;
	border-radius: 0;
	height: 60px;
	color: #F8F8FF;
}
#footer .card-text {
	position: absolute;
}
.row {
    margin-right: 0px; /* para tirar o espaco do footer que tava sobrando, fazendo aparecer uma scroll bar horizontal */
   }
.icones-sociais {
	position: absolute;
    top: 20%;
    right: 53%;
    width: 35%;
}
.fa-facebook {
	font-size:36px !important;
	color: #e0e0e0;	
	margin-right: 7%;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
	-ms-transition: 0.6s ease-in-out;
	-moz-transition: 0.6s ease-in-out;	
}
.fa-facebook:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}
.fa-twitter {
	font-size:36px !important;
	color: #e0e0e0;	
	margin-right: 7%;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
	-ms-transition: 0.6s ease-in-out;
	-moz-transition: 0.6s ease-in-out;
}
.fa-twitter:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}
.fa-instagram {
	font-size:36px !important;
	color: #e0e0e0;
	margin-right: 7%;
	transition: 0.6s ease-in-out;
	-webkit-transition: 0.6s ease-in-out;
	-ms-transition: 0.6s ease-in-out;
	-moz-transition: 0.6s ease-in-out;
}
.fa-instagram:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
}
.nome {
	top: 4%;
    right: 29%;
    font-size: 134%;
    font-weight: bold
}
.cidade {
	top: 46%;
    right: 38%;
}
.email {
	top: 10%;
    left: 47%;
}
.telefone {
	left: 58%;
    top: 40%;
}

@media(max-width: 1300px){ /* adequando o footer para laptop */
	.icones-sociais {
	right: 41%;
	width: 46%;
	}
	.telefone {
    left: 56%;
	}
	.email {
    left: 26%;
	}
    .cidade {
    top: 43%;
    right: 34%;
	}
	.nome {
	right: 16%;
}
@media(max-width: 768px){ /* adequando o footer para um tablet */
	.icones-sociais {
		right: 38%;
	}
	.telefone {
    	top: 46%;
    	left: 46%;
	}
	.email {
    	left: 18%;
	}
    .cidade {
    	top: 49%;
    	right: 31%;
	}
	.nome {
		right: 5%;
	}
}

@media(max-width: 425px){ /* adequando o footer para um dispositivo movel */
	.icones-sociais {
		right: 18%;
	}
	.nome {
		right: 21%;
	}
	.cidade {
		right: 34%;
	}
	.email {
		left: 27%;
	}
	.telefone {
		left: 38%;
	}
}@media(max-width: 375px){ /* adequando o footer para um dispositivo movel */
	.icones-sociais {
		right: 19%;
	}
	.nome {
		right: 17%;
	}
	.cidade {
		right: 33%;
	}
	.email {
		left: 24%;
	}
	.telefone {
		left: 36%;
	}
}
@media(max-width: 320px){ /* adequando o footer para um dispositivo movel, tendo o iPhone 5 como base */
	.icones-sociais {
		right: 21%;
	}
	.nome {
		right: 11%;
		top: -4%;
	}
	.cidade {
		right: 31%;
	}
	.email {
		left: 22%;
	}
	.telefone {
		left: 33%;
	}
}
/* CSS FOOTER - FIM */