/*INÍCIO DO CSS DA HOMEPAGE*/

.carousel-example-generic{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#html-home{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#body-home{
     background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#main-home{
    color:#660000;
    background-color: #F8F8FF;
    font-family: 'Playfair Display', serif;
}

#slideshow-Homepage{
    width:100%;
    font-size: 2em;
    background-color: #F8F8FF;
    font-family: 'Playfair Display', serif;
}

.row-home{
    margin-top: 25px;
    margin-bottom: 25px;
}

.destaque{
    text-align: center;
    border: 5px solid #660000;
    border-radius: 8px;
    padding:15px;
}

.imgfld-home{
    position: relative;
    min-width: 0px;
}

@media(max-width:768px){
    
    .carousel-caption{
        font-size: 0.5em;
    }

    .col-sm-6{
        margin-bottom: 30px;
    }   
    
    .row-home{
        margin-bottom: -40px;
    }
    
    #slideshow-homepage{
        position: relative;
        line-height: 5;
        width:100%;
        height: 100%;
    }
    
}

.carousel-inner img {
    min-height: 250px;
    min-width: 100%;
}

@media(min-width:768px){
    
    #highlights{
        padding-left: 150px;
    }
    
}

.destaque:hover{
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.60s;
    -o-transition: 0.60s;
    -moz-transition: 0.60s;
    transition: 0.60s;
    background-color: #F8F8FF;
}

#highlights{
    background-color:#660000;
    color: #F8F8FF;
}

/*FIM DO CSS DA HOMEPAGE*/