/*INÍCIO DO CSS DA HOMEPAGE*/

.carousel-example-generic{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#html-home{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#body-home{
     background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#main-home{
    color:#660000;
    background-color: #F8F8FF;
    font-family: 'Playfair Display', serif;
}

#slideshow-Homepage{
    width:100%;
    font-size: 2em;
    background-color: #F8F8FF;
    font-family: 'Playfair Display', serif;
}

.row-home{
    margin-top: 25px;
    margin-bottom: 25px;
}

.destaque{
    text-align: center;
    border: 2px dashed #660000; 
    padding:15px;
}

.imgfld-home{
    position: relative;
}

@media(max-width:768px){
    
    .carousel-caption{
        font-size: 0.5em;
    }

    .col-sm-6{
        margin-bottom: 30px;
    }   
    
    .row-home{
        margin-bottom: -40px;
    }
    
}

.destaque:hover{
    transform: scale(1.1); 
    transition: 0.60s;
    background-color: #F8F8FF;
}

#highlights{
    background-color: #660000;
    color: #F8F8FF;
}

/*FIM DO CSS DA HOMEPAGE*/