/*INÍCIO DO CSS DA HOMEPAGE*/

.carousel-example-generic{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#html-home{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#body-home{
     background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

.direcao{
    position: relative;
    padding-top:100%;
    height: 3em;
    display: inline-block;
    font-size: 20px;
}

figcaption p{
    font-size: 1.5em;
}
#main-home{
    color:#660000;
    background-color: #F8F8FF;
    font-family: 'Playfair Display', serif;
}

#slideshow-Homepage{
    width:100%;
    font-size: 2em;
    background-color: #F8F8FF;
    font-family: 'Playfair Display', serif;
    height: 100%;
    min-width: 100%;
}

.row-home{
    margin-top: 25px;
    margin-bottom: 25px;
}

.destaque{
    text-align: center;
    border: 5px solid #660000;
    border-radius: 8px;
    padding:15px;
}

.imgfld-home{
    position: relative;
    min-width: 0px;
}

@media(max-width:768px){
    
    .carousel-caption{
        font-size: 0.5em;
    }

    .col-sm-6{
        margin-bottom: 30px;
    }   
    
    .row-home{
        margin-bottom: -40px;
    }
    
    #slideshow-homepage{
        position: relative;
        line-height: 5;
        width:100%;
        height: 100%;
    }
    
    .escalade{
        margin-bottom: 50px;
    }

   
}

.carousel-inner img {
    min-height: 250px;
    min-width: 100%;
}

.destaque:hover{
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.60s;
    -o-transition: 0.60s;
    -moz-transition: 0.60s;
    transition: 0.60s;
    background-color: #F8F8FF;
}

#highlights{
    margin-top: 20px;
    background-image: url(../images/back-high.jpg);
    opacity: 0.8;
    background-size: cover;
    padding: 46px;
}

.high-texto{
    opacity: 1.0;
    color: #f8f8ff;
    font-size: 4em;
}

.footer-localizacao{
	position: relative;
	bottom: 0px;
	margin-top: 10px;
}

@media(max-width:321px)
{
    #main-home{
        min-width: 100%;
    }
}

/*FIM DO CSS DA HOMEPAGE*/