/*PAGINA DE LOCALIZACAO*/

body-localizacao{
	background-color: #F8F8FF;
}
#titulo-h2-localizacao{
	color: #660000;
	text-align: center;
	font-family: playfair display;
	background-color: #fff;
}
#endereco-localizacao{
	color: #660000;
	display: block;
	text-align: center;
	font-family: playfair display;

}

#mapa-localizacao {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*FIM DA PAGINA DE LOCALIZACAO*/