/*PAGINA DE LOCALIZACAO*/

.body-localizacao{
	background-color: #F8F8FF;
	width: 100%;
	position: absolute;

}
#titulo-h2-localizacao{
	color: #660000;
	text-align: center;
	font-family: playfair display;
	background-color: #f8f8ff;
}
#endereco-localizacao{
	color: #660000;
	display: block;
	text-align: center;
	font-family: playfair display;

}
#mapa-localizacao {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-localizacao{
	position: relative;
	bottom: 0px;

}

@media(min-width: 320px) {
#mapa-localizacao {
	width: 100%;
	
}}
/*FIM DA PAGINA DE LOCALIZACAO*/