
body{
	background-color: #F8F8FF;
}
h2#titulo{
	color: #660000;
	text-align: center;
	font-family: playfair display;
}
#end{
	color: #660000;
	display: block;
	text-align: center;
	font-family: playfair display;
<<<<<<< HEAD

=======
>>>>>>> fernanda
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}