.body-login{
    padding-bottom: 10px;
    position: absolute;
    background-color: ##f8f8ff;
    width: 100%;
    height: 50%;
	
}
.footer-login{
	position: relative;
	bottom: 0px;
	margin-top: 10px;
	top: 3px;
	border-top: 300px solid #fff;

}

#tit-h2{
	text-align: center;
	color: #660000;
}
#frase{
	left: 10px;
	color: #660000;
}
.login-form{
	vertical-align: middle;
}
#bot-enviar{
	background-color: #f8f8ff;
	color: #660000;

}
#bot-enviar:hover{
	background-color: #660000;
	color: #f8f8ff;
	transition: 1s;

}
.teste{
	background-color: #fff;
	padding: 10px;
}