
/* CSS MENU - INICIO */
#html-menu, .body-menu {
	height: 100%;
	font-family: 'Playfair Display', serif;
}
.navbar {
	position: relative;
    width: 100%;
    margin: 0;
}
.logo-menu {
	border-right: 2px solid #666666;
    padding-right: 9%;
}
#menu {
    position: relative;
    margin-left: 45%;
    bottom: 20px;
    display: inline-block;
}
#let{
	position: relative;
}

#let:hover{
	
	color: #660000;
}



@media (min-width: 1200px){
    a#let {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px;
        bottom: 10px;

    }
    .logo-menu {
        width: 55%;
        position: relative;
        top: 20px;
    }
  
}

@media (min-width: 1024px)and (max-width: 1200px){
	a#let {
		padding-right: 10px;
        font-size: 15px;
        bottom: 10px;

	}
	.logo-menu {
    	width: 50%;
    	position: relative;
    	top: 20px;
    }
  
}
@media (min-width: 768px)and (max-width: 1023px){
    a#let {
        padding-right: 8px;
        font-size: 10px;



    }
    .logo-menu {
        width: 45%;
        position: relative;
        top: 25px;
    }
    
  
}
 @media(min-width: 453px) and (max-width: 767px) {


.logo-menu {
    position: relative;
    width:  42%;
    bottom: 0px;
    top: 3px;
}


#menu {
    left: 0%;
    top: 0px;
    font-size: 13px;
    margin-top: 42px;   
}
}



 @media(min-width: 320px) and (max-width: 453px) {


.logo-menu {
    position: relative;
    width:  67%;
    bottom: 0px;
    top: 3px;
}


#menu {
    left: 0%;
    top: 0px;
    font-size: 13px;
    margin-top: 42px;   
}
}



/* CSS MENU - FIM */

