html, body {
	position: relative;
	height: 100%;
	font-family: 'Playfair Display', serif;
}
.navbar {
	position: absolute;
	width: 100%;
}
.logo {
	border-right: 2px solid #666666;
    padding-right: 9%;
    width: 55%;
}
#menu {
	font-size: 120%;
	width: 100%;
	margin-left: 40%;
	display: inline-block;
}
#let{
	position: relative;
}

#let:hover{
	border-radius: 8px;
	border-color: #660000;
	color: #fff;
	background-color: #660000;
}
button#login{
	position: absolute;
	bottom: 50%;
	left: 85%;
	background-color: #f8f8ff;
}

