html, body {
	position: relative;
	height: 100%;
	font-family: 'Raleway', sans-serif;
}
.navbar {
	position: relative;
    width: 100%;
    height: 15%;
}
.logo {
	border-right: 2px solid #666666;
    padding-right: 9%;
    width: 55%;
}
#menu {
	position: absolute;
    top: 25%;
    left: 5%;
    font-size: 120%;
    width: 100%;
    margin-left: 40%;
    display: inline-block;
}
#let{
	position: relative;
}

#let:hover{
	border-radius: 8px;
	border-color: #660000;
	color: #fff;
	background-color: #660000;
}
button#login{
	position: absolute;
	bottom: 26%;
	left: 93%;
	background-color: #f8f8ff;
}

