/*CSS PAGINA DE PRODUTOS*/

html.html-produtos,body.body-produtos,#body-menu {
	width: 100%;
	background-color: #F8F8FF;
	font-family: playfair display;
	background-size: 100% auto;
	position: relative;
}

#info-produtos {
	position: relative;
	border-radius: 2px;	
	width: 100px;
	height: 30px;
}
#info-produtos:hover {
	background-color: #660000;
	color: #FFF;
	transition: 0.5s;
}
.titulo-h3-produtos {
	text-align: center;
	color: #660000;

}
.foto-produtos{
	position: relative;
	border-radius: 3px;
	width: 100%;
	height: 80%;
}
.box-produto:hover{
	box-shadow: 2px 2px 2px 2px #8B8989;
}

#pesquisa-produtos{
	width: 100%;

}

#bot-enter{
	width: 15%;
    margin-left: 80%;
    bottom: 50px;
    position: relative;
    margin-top: 16px;

}

#bot-enter:hover{
	color: #fff;
	background-color: #660000;
	transition: 0.5s;
}
#NeB{
	position: relative;
    top: 440px;
    margin-top: 10px;
}

#footer-produtos{
	
	position: relative;
    bottom: 0px;
    top: 450px;

}

@media(min-width: 308px) {

#bot-enter{
	width: 15%;
    margin-left: 80%;
    bottom: 65px;
    position: relative;
}
#pesquisa-produtos{
	width: 80%;
    margin-top: 10px;
}}

@media(min-width: 768px) {

#bot-enter{
	position: relative;
    width: 6%;
    right: 12px;
    bottom: 50px;
}
#pesquisa-produtos{
	position: relative;
    margin-top: 10px;
    margin-left: 160px;
    width: 120%;
}}
@media(min-width: 992px) {
#bot-enter{
	margin-top: 16px;
    width: 5%;
    position: relative;
    right: 33px;

}
#pesquisa-produtos{
	position: relative;
    margin-top: 10px;
    left: 1px;
    width: 170%;
}}
@media(min-width: 1200px) {

#bot-enter{
	margin-top: 16px;
    width: 3%;
    position: relative;
    right: 165px;
}
#pesquisa-produtos{
	position: relative;
    margin-top: 10px;
    left: 50px;
    width: 160%;
}
@media(min-width: 1300px) {
#pesquisa-produtos{
	position: relative;
    margin-top: 10px;
    left: 50px;
    width: 180%;
}

#bot-enter{
	margin-top: 16px;
    width: 3%;
    position: relative;
    right: 200px;

}}

/*FIM DA PAGINA CSS DE PRODUTOS */

/*LISTA PRODUTOS */

#alt-del {
	color: #fff;
}
