#html-quem-somos{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#body-quem-somos{
    background-color: #f8f8ff;
    font-family: 'Playfair Display', serif;
    position: absolute;
    height: 100%;
    width: 100%;
}

@media(min-width:768px){

        .blocos{
            display: inline-block;
            width:30%;
            background-color:rgba(248,248,255,0.6);
            border-radius: 150px;
            text-align: center;
            margin-left: 20px;
            margin-top: 80px;
            margin-bottom: 26px;
        }

        .content{
            background-color: #f8f8ff;
            height: 538px;
            background-image: url(background.jpg);  
            background-size: cover; 
            position: relative;
            width: 100%;
        }

        .blocos:hover{
        box-shadow: 0 0 0 999999px rgba(102,0,0,0.7);
        transform: scale(1.3); 
        transition: 0.8s;
        background-color: #F8F8FF;
    }
}

.blocos{
    font-family: 'Playfair Display', serif;
    padding: 15px;
}

.content{
    font-family: 'Playfair Display', serif;
}

.icone{
    font-size: 9em;
}

.blocos-texto{
    color:#660000;
}

@media(max-width:767px){

        .blocos{
            text-align: center;
            display:inline-block;
            width: 100%;
            margin-top:30px;
            background-color: rgba(248,248,255,0.6);
            height: auto;
            border:5px dotted #660000;
            border-radius: 10px;
            padding: 30px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 30px;
            font-family: 'Playfair Display', serif;
        }

        .content{
            display: inline-block;
            height:550px;
            background-color:#F8F8FF;
            margin-bottom: 26px;
            font-family: 'Playfair Display', serif;
             
            background-size: cover;
        }

        .missao{
            margin-bottom: 40px;
        }

        .blocos:hover{
        box-shadow: 0 0 0 999999px rgba(102,0,0,0.7);
        transform: scale(1.05); 
        transition: 0.8s;
        background-color: #F8F8FF;
    }
    
}