/*INÍCIO DO CSS DA PÁGINA SOBRE NÓS*/

#html-quem-somos{
    background-color:#F8F8FF;
    font-family: 'Playfair Display', serif;
}

#body-quem-somos{
    background-color: #f8f8ff;
    font-family: 'Playfair Display', serif;
    width: 100%;
    position: relative;
}

@media(min-width:768px){

        .blocos{
            display: inline-block;
            width:30%;
            background-color:rgba(102,0,0,0.7);
            color: #f8f8ff;
            border-radius: 5px;
            text-align: center;
            margin-left: 20px;
            margin-top: 80px;
            margin-bottom: 86px;
        }

        .content{
            height: 100%;
            background-color: #f8f8ff;
            background-size: cover; 
            position: relative;
            width: 100%;
            min-height: 100%;
        }

        .blocos:hover{
        box-shadow: 0 0 0 999999px rgba(0,0,3,0.7);
        transform: scale(1.3); 
        transition: 0.8s;
        background-color: #660000;
        color: #f8f8ff;
    }
    
}

.blocos{
    font-family: 'Playfair Display', serif;
    padding: 15px;
    font-size: 1em;
}

.content{
    font-family: 'Playfair Display', serif;
}

.icone{
    font-size: 9em;
}

.blocos-texto{
    color:#660000;
}

@media(max-width:767px){

        .blocos{
            text-align: center;
            display:inline-block;
            width: 100%;
            color:#f8f8ff;
            margin-top:30px;
            background-color: rgba(102,0,0,0.7);
            height: auto;
            border:5px solid #660000;
            border-radius: 10px;
            padding: 30px;
            font-family: 'Playfair Display', serif;
            margin-bottom: 30px;
            font-family: 'Playfair Display', serif;
        }

        .content{
            display: inline-block;
            height:100%;
            background-color:#F8F8FF;
            margin-bottom: 26px;
            font-family: 'Playfair Display', serif; 
            background-size: cover;
            min-height: 100%;
        }

        .missao{
            margin-bottom: 40px;
        }

        .blocos:hover{
        box-shadow: 0 0 0 999999px rgba(0,0,3,0.7);
        transform: scale(1.05); 
        transition: 0.8s;
        color: #f8f8ff;
        background-color: rgba(102,0,0,1.0);
    }
    
}

.footer-localizacao{
	position: absolute;
	bottom: 0;
}



/*FIM DO CSS DA PÁGINA SOBRE NÓS*/